@page "/customers"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject QuickGrid_Scaffolded_CRUD.Data.BlazorScaffoldingAppsDbContext DB
@using QuickGrid_Scaffolded_CRUD.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="customers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Customer">
    <PropertyColumn Property="customer => customer.FirstName" />
    <PropertyColumn Property="customer => customer.LastName" />
    <PropertyColumn Property="customer => customer.Birthdate" />
    <PropertyColumn Property="customer => customer.Phone" />
    <PropertyColumn Property="customer => customer.Email" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?id={customer.ID}")">Edit</a> |
        <a href="@($"customers/details?id={customer.ID}")">Details</a> |
        <a href="@($"customers/delete?id={customer.ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
